# Dependencies
node_modules/

# Build output
dist/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Go build output
*.exe
*.dll
*.so
*.dylib
